html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map-container, #cesiumContainer {
  height: 100vh;
  float: left;
}

#map-container {
  width: calc(50% - 10px);
  height: 85vh;
  margin-left: 10px;
}

#cesiumContainer {
  width: calc(50% - 10px);
  height: 80vh;
  border-left: 20px solid white 
}

#cesiumContainer .cesium-widget canvas {
  width: 100% !important;
  height: 82vh;
  display: block;
}
