html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container, #cesiumContainer {
  height: 100vh;
  float: left;
}

#map-container {
  width: 50%;
  height: 85vh;
  margin-left: 20px;
}

#cesiumContainer {
  width: calc(50% - 20px);
  height: 80vh;
  border-left: 40px solid white
}
